header {
    #tagline {
        margin: 0;
        font-weight: normal;
        font-size: larger;
    }
}

form {
    field {
        display: block;
        margin-bottom: 1.5rem;
    }

    label {
        font-weight: bold;
    }
}

section.day {
    h2 {
        font-size: larger;
    }
}

.larger {
    font-size: larger;
}
